.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1em;
}

.about__desc {
  font-size: 1.2em;
  max-width: 100vw;
}

.about__desc,
.about__contact {
  margin-top: 2em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}
span {
  color: #6d6db9;
}
@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 3em;
    height: auto;
    width: 95vw;
    margin-bottom: 6em;
    scroll-behavior: smooth;
  }
}
