.skills {
  background-color: #23283e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.skills .div {
  background-color: #23283e;
  height: 447px;
  position: relative;
  width: 780px;
}

.skills .overlap-group {
  height: 149px;
  left: 34px;
  position: absolute;
  top: 26px;
  width: 652px;
}

.skills .skills-title {
  height: 48px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 107px;
}

.skills .text-wrapper {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 105px;
}

.skills .skills-description {
  height: 110px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 652px;
}

.skills .p {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 110px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 650px;
}

.skills .html {
  height: 57px;
  left: 25px;
  position: absolute;
  top: 183px;
  width: 208px;
}

.skills .htmlicon {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.skills .htmltext {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 142px;
}

.skills .react {
  height: 56px;
  left: 282px;
  position: absolute;
  top: 185px;
  width: 218px;
}

.skills .img {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.skills .reactdescription {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 142px;
}

.skills .python {
  height: 46px;
  left: 285px;
  position: absolute;
  top: 272px;
  width: 215px;
}

.skills .pythonicon {
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 49px;
}

.skills .pythondescrption {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 142px;
}

.skills .swift {
  height: 50px;
  left: 282px;
  position: absolute;
  top: 343px;
  width: 218px;
}

.skills .swifticon {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.skills .swiftdescription {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 142px;
}

.skills .sql {
  height: 56px;
  left: 549px;
  position: absolute;
  top: 279px;
  width: 205px;
}

.skills .descpritionsql {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 142px;
}

.skills .css {
  height: 56px;
  left: 25px;
  position: absolute;
  top: 268px;
  width: 208px;
}

.skills .descriptioncss {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 142px;
}

.skills .js {
  height: 54px;
  left: 34px;
  position: absolute;
  top: 360px;
  width: 199px;
}

.skills .jsicon {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}

.skills .descriptionjs {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 142px;
}

.skills .bootstrap {
  height: 52px;
  left: 549px;
  position: absolute;
  top: 200px;
  width: 210px;
}

.skills .description {
  color: #ffffff;
  font-family: "Itim-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 31px;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 142px;
}

.skills .btspicon {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}
