:root {
  background-color: #23283e;
}
.frontpage .header-navbar {
  height: 45px;
  left: 61px;
  position: absolute;
  top: 18px;
  width: 710px;
}

.frontpage .logo {
  height: 36px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 52px;
}

.frontpage #text-wrapper-5 {
  color: #cdcdff;
  font-family: "Itim", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 50px;
}

.frontpage .text-wrapper-6 {
  color: #ffffff;
  font-family: "Itim", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 388px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 77px;
}

.frontpage .text-wrapper-7 {
  color: #ffffff;
  font-family: "Itim", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 490px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 50px;
}

.frontpage .text-wrapper-8 {
  color: #ffffff;
  font-family: "Itim", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 569px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 77px;
}

.frontpage .moon {
  height: 40px;
  left: 657px;
  position: absolute;
  top: 0;
  width: 47px;
}
